*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  /* .topnav{
  
    position: fixed;
    z-index: 1000;
  } */
  #nav1{
    background-color: #94094c;
    width: 100%;
    display: flex;
    align-items: center;
   margin-top: 0px;
   margin: auto;
    padding: 10px 10px 10px 10px;
    background-image: url("./Shipra\ \(3\).png");
   
    
  }
  .nevright{
    display: flex;
   
    width: 100%;
    justify-content: center;
    justify-content: space-evenly;
  align-items: center;
  margin: auto;
  }
  .nevright>img{
    width: 5%;
  
  }
  .navleft{
   width: 100%;
     text-decoration: none;
    color: rgb(250, 250, 250);
   
    animation-name: bounce;
    margin-left: 10px;
  margin-right: 10px;
  
  
  }
  .navright span{
      font-weight: 600;
  }
  span:hover{
      color: white;
  }
  .navleft>a{
      text-decoration: none;
      color: black;
      font-weight: 500;
  }
  
  .navleft>a:hover{
    color: white;
  }
  
  @media only screen and (min-width: 300px) and (max-width: 480px){
  .navleft{
    display: none;
  }
  
  }
 
  .nav2{
      display: flex;
     font-family: Inter, Roboto, Arial, sans-serif;
     font-weight: 400;
     size: 14px;
     line-height: 14px;
     font-style: normal;
      justify-content: space-evenly;
      align-items: center;
   
     /* position: relative; */
   background-color: rgb(255, 255, 255); 
      list-style: none;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
  }
  .nav2>li>img{
      width: 150px
      
  
  }
 
     .nav2 button{
      background-color: rgb(252,39,121);
      border: none;
      padding: 5px 10px 5px 10px ;
      border-radius: 6px;
     }
  button a{
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-weight: 600;
  }
  img{
      
      margin: auto;
  }
    .banner2>div{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2,1fr);
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
      
    }
    .manu-bar{
      text-align: center;
     
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      width: 100%;
      margin: auto;
    
  

  padding: 10px 15px 10px 15px;
     
    }
    .manu-bar>ul{
      width: 100%;
      display: inline-flex;
      list-style: none;
      justify-items: center;
      align-items: center;
      justify-content: space-between;
      margin-top: 0px;
      padding-top: 10px;
     position: relative;
      
    }
    .submanu1 ul{
      float: left;
      text-justify: auto;
      text-align-last: left;
      list-style: none;
     
 
      
     
    }
    .manu-bar ul li a{
  text-decoration: none;
  color:rgb(92,104,156);
  font-family: Inter, sans-serif;
     font-weight: 400;
     font-style: normal;
  
     
    }
    .active,.manu-bar ul li a:hover{
     
      color: #e80071;
    }
  .submanu1>div{
    margin-left: 20px;
  /* margin-left: 50px; */
  padding-right: 0;
  
  width:auto;
    
  
  }
  .submanu1{
   display: none;
  }
  .submanu1>div>ul{
    display: block;
    
  }
  
  .submanu1 a{
    text-justify: auto;
  }
  .manu-bar ul li:hover .submanu1{
    /* display: block; */
    position: absolute;
    background-color: aliceblue;
    margin-top: 5px;
    display: flex;
   list-style: none;
   
  
  
  
  }
  .manu-bar ul li:hover .submanu1 ul{
    display: block;
    
  }
  header{
 
    position: sticky;
    top: 0;
   
    background-color: aliceblue;
    z-index: 1000;
  }
  #cont{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 98%;
    margin: auto;
    gap: 10px;
    justify-content: space-around;


}
#cont>div{
/* padding-left: 30px; */
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    text-align: center;
    padding-bottom: 10px;
    margin: auto;
   
    
}
#cont img{
    width: 100%;
    
}
#facebanner{
   width: 95%;
   margin: auto;
  
  
}
#facebanner>img{
 
    width: 100%;
}
.face{
  
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Inter, Roboto, Arial, sans-serif;
    line-height: 28px;
    position: relative;
}
#card{
    margin: auto;
    display: flex;
 
}
.leftside{
    width: 60%;
  
    position: sticky;
    top: 100px;
    height: 500px;
 
  
}
.sort{
   
  
    width: 300px;;

    margin-left:100px;
    margin-right: 50px;
}
.sort li{
    box-shadow: rgba(91, 97, 102, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    height: 50px;
    margin-top: 5px;
    border-radius: 6px;
    list-style: none;
    font-family: Inter, Roboto, Arial, sans-serif;
    padding-top: 10px;
}
select{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  
    font-weight: 600;
    font-size: 300px;
    height: 60px;
    margin-top: 5px;
width: 100%;
    list-style: none; 
    font-family: Inter, Roboto, Arial, sans-serif;
    border-color: white;
 
}
.cutt{
    text-decoration:line-through;
    color: grey;
}
.checked{
    color: orange;
 
 display: block;
    left: 50%;
   

  }
  #cont>div button{

    display: block;
    margin: auto;
   width: 80%;
   padding-top: 10px;
   padding-bottom: 10px;
background-color: aquamarine;
   border: 0;
   color: aliceblue;
   font-weight: 600;
   font-style: normal;
   font-family: Inter, Roboto, Arial, sans-serif;
   
  }
  #cont>div button:hover{
    display: block;
    margin: auto;
   width: 90%;
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #e80071;
   border: 0;
   color: aliceblue;
   font-weight: 600;
   font-style: normal;
   font-family: Inter, Roboto, Arial, sans-serif;
}