*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  /* .topnav{
  
    position: fixed;
    z-index: 1000;
  } */
  #nav1{
    background-color: #94094c;
    width: 100%;
    display: flex;
    align-items: center;
   margin-top: 0px;
   margin: auto;
    padding: 10px 10px 10px 10px;
    background-image: url("./Shipra\ \(3\).png");
   
    
  }
  .nevright{
    display: flex;
   
    width: 100%;
    justify-content: center;
    justify-content: space-evenly;
  align-items: center;
  margin: auto;
  }
  .nevright>img{
    width: 5%;
  
  }
  .navleft{
   width: 100%;
     text-decoration: none;
    color: rgb(250, 250, 250);
   
    animation-name: bounce;
    margin-left: 10px;
  margin-right: 10px;
  
  
  }
  .navright span{
      font-weight: 600;
  }
  span:hover{
      color: white;
  }
  .navleft>a{
      text-decoration: none;
      color: black;
      font-weight: 500;
  }
  
  .navleft>a:hover{
    color: white;
  }
  
  @media only screen and (min-width: 300px) and (max-width: 480px){
  .navleft{
    display: none;
  }
  
  }
 
  .nav2{
      display: flex;
     font-family: Inter, Roboto, Arial, sans-serif;
     font-weight: 400;
     size: 14px;
     line-height: 14px;
     font-style: normal;
      justify-content: space-evenly;
      align-items: center;
   
     /* position: relative; */
   background-color: rgb(255, 255, 255); 
      list-style: none;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
  }
  .nav2>li>img{
      width: 150px
      
  
  }
 
     .nav2 button{
      background-color: rgb(252,39,121);
      border: none;
      padding: 5px 10px 5px 10px ;
      border-radius: 6px;
     }
  button a{
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-weight: 600;
  }
  img{
      
      margin: auto;
  }
    .banner2>div{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2,1fr);
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
      
    }
    .manu-bar{
      text-align: center;
     
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      width: 100%;
      margin: auto;
    
  

  padding: 10px 15px 10px 15px;
     
    }
    .manu-bar>ul{
      width: 100%;
      display: inline-flex;
      list-style: none;
      justify-items: center;
      align-items: center;
      justify-content: space-between;
      margin-top: 0px;
      padding-top: 10px;
     position: relative;
      
    }
    .submanu1 ul{
      float: left;
      text-justify: auto;
      text-align-last: left;
      list-style: none;
     
 
      
     
    }
    .manu-bar ul li a{
  text-decoration: none;
  color:rgb(92,104,156);
  font-family: Inter, sans-serif;
     font-weight: 400;
     font-style: normal;
  
     
    }
    .active,.manu-bar ul li a:hover{
     
      color: #e80071;
    }
  .submanu1>div{
    margin-left: 20px;
  /* margin-left: 50px; */
  padding-right: 0;
  
  width:auto;
    
  
  }
  .submanu1{
   display: none;
  }
  .submanu1>div>ul{
    display: block;
    
  }
  
  .submanu1 a{
    text-justify: auto;
  }
  .manu-bar ul li:hover .submanu1{
    /* display: block; */
    position: absolute;
    background-color: aliceblue;
    margin-top: 5px;
    display: flex;
   list-style: none;
   
  
  
  
  }
  .manu-bar ul li:hover .submanu1 ul{
    display: block;
    
  }
  header{
 
    position: sticky;
    top: 0;
   
    background-color: aliceblue;
    z-index: 1000;
  }
  #cont{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 98%;
    margin: auto;
    gap: 10px;
    justify-content: space-around;


}
#cont>div{
/* padding-left: 30px; */
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    text-align: center;
    padding-bottom: 10px;
    margin: auto;
   
    
}
#cont img{
    width: 100%;
    
}
#facebanner{
   width: 95%;
   margin: auto;
  
  
}
#facebanner>img{
 
    width: 100%;
}
.face{
  
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Inter, Roboto, Arial, sans-serif;
    line-height: 28px;
    position: relative;
}
#card{
    margin: auto;
    display: flex;
 
}
.leftside{
    width: 60%;
  
    position: sticky;
    top: 100px;
    height: 500px;
 
  
}
.sort{
   
  
    width: 300px;;

    margin-left:100px;
    margin-right: 50px;
}
.sort li{
    box-shadow: rgba(91, 97, 102, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    height: 50px;
    margin-top: 5px;
    border-radius: 6px;
    list-style: none;
    font-family: Inter, Roboto, Arial, sans-serif;
    padding-top: 10px;
}
select{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  
    font-weight: 600;
    font-size: 300px;
    height: 60px;
    margin-top: 5px;
width: 100%;
    list-style: none; 
    font-family: Inter, Roboto, Arial, sans-serif;
    border-color: white;
 
}
.cutt{
    text-decoration:line-through;
    color: grey;
}
.checked{
    color: orange;
 
 display: block;
    left: 50%;
   

  }
  #cont>div button{

    display: block;
    margin: auto;
   width: 80%;
   padding-top: 10px;
   padding-bottom: 10px;
background-color: aquamarine;
   border: 0;
   color: aliceblue;
   font-weight: 600;
   font-style: normal;
   font-family: Inter, Roboto, Arial, sans-serif;
   
  }
  #cont>div button:hover{
    display: block;
    margin: auto;
   width: 90%;
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #e80071;
   border: 0;
   color: aliceblue;
   font-weight: 600;
   font-style: normal;
   font-family: Inter, Roboto, Arial, sans-serif;
}
/* Footer*/
#footer_one {
  display: flex;
  align-items: center;
  background-color: #3f414d;
  width: 100%;
  padding: 2.5rem 0;
  font-family: "Inter", sans-serif;
}

#footer_one div#hr_email {
  color: white;
  padding: 0 1.87rem;
  line-height: 1.25rem;
  font-size: 0.87rem;

  margin: 0 4rem 0 8rem;
}

#hr_email p i {
  font-size: 1.5rem;
}

#footer_one #hr_email p {
  line-height: 2rem;
  font-weight: 500;
}

#hr_email form {
  height: 3rem;
  display: flex;
  align-items: flex-end;
}

#hr_email form input[type="email"] {
  background-color: #3f414d;
  outline: none;
  border: 1px solid #3f414d;
  font-size: 0.9rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  width: 13.5rem;
  height: 80%;
  border-bottom: 1.5px solid white;
  caret-color: white;
  color: white;
}

#hr_email form input[type="email"]::placeholder {
  color: white;
}

#hr_email form button {
  color: white;
  background-color: #3f414d;
  outline: none;
  border: 1px solid white;
  /* border-radius: 0.3rem; */
  height: 90%;
  padding: 0 1rem;
  font-size: 0.9rem;
}

#experience {
  font-size: 0.87rem;
  color: white;
  padding: 0 1.87rem;
  line-height: 1.25rem;
  font-size: 0.87rem;

  margin: 0 4rem 0 0;
}

#experience div#icon_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2rem;
}

#experience div#svg_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

#icon_wrapper p {
  font-weight: 500;
  vertical-align: middle;
}

#foot--mobile {
  vertical-align: middle;
}

#foot--expe {
  vertical-align: middle;
}

#experience div#svg_wrapper a {
  margin-top: 1rem;
}

#experience div#svg_wrapper a:nth-child(2) {
  margin-right: -0.4rem;
}

#hr_contact {
  color: white;
  display: flex;
  justify-content: space-between;

  font-size: 0.87rem;
}

#hr_contact #icon {
  font-size: 1.5rem;
}

#hr_contact #text_container {
  height: 5rem;
}

#hr_contact #text_container p:nth-child(1) {
  margin-bottom: 1rem;
}

#hr_menu {
  font-family: "Inter", sans-serif;
  width: 100%;
  padding: 2.81rem 0 1.87rem 0;
  display: flex;
  justify-content: center;
  background-color: #8c8d94;
}

.hr_menu_container {
  width: 17%;
  padding: 0.625rem;
  font-family: "Lucida Console", "Courier New", monospace;
}

.hr_menu_container a {
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
}

.hr_menu_container a:hover {
  color: #fc2779;
  transition: all 0.2s ease-in-out;
}

#hr_menu .hr_menu_container:nth-child(1) img {
  width: 4.5rem;
}

#hr_menu .hr_menu_container ul {
  list-style: none;
}

#hr_menu .hr_menu_container ul li:first-child {
  margin-bottom: 1rem;
  color: white;
  font-size: 1rem;
}

#hr_menu .hr_menu_container ul li {
  padding: 0 0 0.4rem 0;
  font-size: 0.87rem;
  color: white;
}

#hr_social {
  padding: 2.5rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

#hr_social > div {
  padding: 20px 0 0 10px;
  margin-top: 9px;
}

#hr_social #hr_social_prod_icons {
  display: flex;
  justify-content: space-between;
  width: 63%;
}

#hr_social_prod_icons .product_guideline .text_wrapper .prod_heading {
  border-bottom: 1px solid #dadada;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

#hr_social_icons_heading h2 {
  line-height: 0.875rem;
  font-size: 0.875rem;
  text-align: center;
  letter-spacing: 1px;
}

#hr_social_prod_icons .product_guideline {
  display: flex;
  justify-content: center;

  width: 23%;
}

#hr_social_prod_icons .product_guideline .icon_wrapper {
  margin-right: 1rem;
}

#hr_social_prod_icons .product_guideline .text_wrapper {
  padding: 0.4rem 0 0 0;
}

.prod_heading h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #3f3f51;
}

.text_content p {
  font-size: 0.97rem;
  line-height: 1.2rem;
}

#hr_social_icons ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

#hr_lastsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fc2779;
  color: white;
}

#hr_lastsection div:nth-child(1) {
  padding: 1rem 0 1.5rem 0;
  display: flex;
  justify-content: space-between;
  width: 35%;
}

#hr_lastsection div:nth-child(1) a {
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
  line-height: 0.875rem;
}

#hr_lastsection div:nth-child(2) {
  font-size: 0.75rem;
  line-height: 1.25rem;
  padding: 0 0 0.2rem 0;
}

.mobile_footer_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #3f414d;
  gap: 5px;
}

.app_stores {
  background: #3f414d;
}

.feature_child {
  margin: 0 20px;
  text-align: center;
  width: 50px;
}

.socials .d-flex {
  gap: 20px;
}

.socials i {
  font-size: 30px;
}

#mobile_footer {
  display: none;
}

#grand_total {
  font-weight: bold;
  font-size: 21px;
  margin: 0;
}
.top-button{
  bottom: 0;
  right: 0;
  background: white;
  padding: 5px 11px;
  border-radius: 36px;
  margin: 31px;
  box-shadow: 0px 0px 20px grey;  
}

.top-button i{
  font-size: 20px;
  color: black;
  font-weight: bold;
}

#after_sign_in_option a{
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap:10px;
  padding: 10px 0;
  border-bottom: 1px solid black;
}

#bi_person{
  display: none;
}

#after_sign_in_option{
  display: none;
}

@media only screen and (max-width: 1200px) {
  .dropdown-content {
    display: none !important;
  }

  .btm-nav {



    display: none;
  }

  .lg-rem {
    display: none;
  }

  .f_b_child {
    width: 27%;
  }

  .f_b_child_2 {
    width: 40%;
  }

  #lg_devices {
    display: none;
  }

  #mobile_footer {
    display: block;
  }

  .navbar-brand {
    display: none;
  }

  #mobile_app h6 {
    color: white;
  }

  .handpicked_section {
    display: none;
  }

  #bestsellers_section {
    display: none;
  }

  .only_at_nykaa {
    display: none;
  }
}

@media only screen and (max-width: 980px) {
  .nav-top-parent {
    display: none !important;
  }

  nav {
    padding: 1% !important;
    justify-content: flex-start !important;
    gap: 5%;
  }

  .navbar-mobile {
    display: block;
    width: 70px;
  }

  .f_b_child {
    width: 40%;
  }

  .f_b_child_2 {
    width: 80%;
    margin: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .only_at_nykaa_child {
    width: 80%;
  }
  .top-brands-wrapper {
    grid-template-columns: 80%;
  }

  .f_b_child {
    width: 80%;
  }
  .topbrand{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
   justify-items: center;
 margin: auto;
   
    border-radius: 10px;
    text-justify: auto;
   
   
   
  }
}

@media only screen and (max-width: 480px) {
  .only_at_nykaa_child {
    width: 80%;
  }
  .top-brands-wrapper {
    grid-template-columns: 80%;
  }
}